@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.Ablog{
    @include displayflex($fd:column,$ai:center,$jc:center);
     margin:40px 0px 0px 0px;
    .buttonfx {
    width: 230px!important;
    height: 50px;
    padding: 0px 30px;
    color: black; 
    outline: none;
    background: transparent;
    border: none;
    letter-spacing: 0.0625em;
    @include font($fw:600,$fm:'Montserrat',$fs:clamp(14px,1.5277vw,20px),$c:#000,$ta:center);
    line-height: 2;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none; 
    overflow: hidden;
    transition: all 1s;
    margin-top: clamp(40px,4.1666vw,60px);
   @media screen and (max-width:700px) { 
    width: 160px!important;
    height: 40px;
    padding: 0px 17px;
  }
   &:hover{
    background: #333; /* onhover background color */
  }
}

/* //// Default effect: Slide from Top  //// */

.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #333; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

/* //// Curtain Up  //// */

.curtainup {
  border: 1px solid #333;
  transform-style: preserve-3d;
  width: auto;
}

.curtainup:before,
.curtainup:after {
  transform-origin: center center;
  transform: scale(1, 0);
  width: 101%;
}

.curtainup:hover:before,
.curtainup:hover:after {
  transform: scale(1);
  border-radius: 0;
  }
}
.Blog{
    position: relative;
  a{
  text-decoration: none!important;
  color:black;  
}
  .gif{ 
     position: absolute;
     background-color: transparent; 
     .img1 { 
      @include size($h:100vh,$mh:668px,$minh:668px,$w:100vw);
      mix-blend-mode: difference;  
      object-fit: cover;
     }

  }

  .blogcontent{
    @include displayflex($fd:column,$ai:space-between,$jc:center);
    @include size($w:100%,$h:'',$mw:'',$mh:'',$minh:'');
    @include font($fw:400,$fm:'',$fs:'',$c:'',$ta:'',$lh:'',$ls:'');
    z-index:1000;
    .blogtitle{
    @include font($fw:600,$fm:'Montserrat',$fs:clamp(30px, 3.4722vw, 50px),$c:'',$ta:center,$lh:3.2638vw,$ls:''); 
    @include mp($m:0 0 30px 0);
    }
    .blogdivs{
      @include displayflex;   
      @include mp($m: 0px 0px 0px 0px);
      flex-wrap: wrap;  
      .blogdiv{      
          z-index:1000;
          @include mp($m: 20px 10px 0px 10px);
           &:hover{
        img{
          transition:all  0.8s ease;
          filter: grayscale(0%);
        }
      }
          @media screen and (max-width:788px) {      
          @include mp($m:20px 0px 0px 0px);        
          }   
        img{
            transition:all  0.8s ease;
          filter: grayscale(100%);
          @include size($w:calc(200px + 14.6412vw),$h:calc(74px + 14.6412vw),$mw:'',$mh:'',$minh:'');
          @include media ($d:788px,$w:calc(200px + 25.6412vw),$mw:'',$fs:'',$h:calc(74px + 25.6412vw),$p:'',$m:'',$fd:'',$c:'',$di:'',$lh:'',$fw:'',$miw:'',$ta:'',$b:'');
          object-fit: cover;
        }
        .btitle{  
          background: rgba(247, 245, 245, 0.6);
          box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
          @include mp($m:-4px 0 0 0, $p:15px 15px 50px 15px);
          @include size($w:calc(200px + 14.6412vw),$h:'',$mw:'',$mh:'',$minh:'');
          @include media ($d:788px,$w:calc(200px + 25.6412vw));
          @include font($fw:500,$fm:'Montserrat',$fs:calc(16px + 0.4392vw),$c:'',$ta:left,$lh:'',$ls:'');
        }
      }
    }
  }

   



}


