@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



.navbar{
  position: initial;
}
.Faq{
  margin:60px 0px clamp(20px,10.9809vw,150px) 0px;
  position: relative;
  .gif{
    position: absolute;
    background-color: transparent;
    .img1 {
      @include size($h:100vh,$mh:668px,$minh:668px,$w:100vw);
      mix-blend-mode: difference;
        object-fit: cover;
    
    }
  }

  .faqcontent{
    @include displayflex($fd:column,$ai:center,$jc:center);
    @include size($w:100%,$h:auto,$mw:'',$mh:'');
    z-index:10;
    .ta{
      z-index:4;
      @include font($fw:600,$fm:'Montserrat',$fs:clamp(30px, 3.4722vw, 50px),$c:'',$ta:center,$lh:3.2638vw,$ls:'');  
      margin-bottom: 30px;
    }
    .faqdivs{
       padding: 0px 0px 20px 0px;
       z-index:2;
       @include font($fw:400,$fm:'Montserrat',$fs:26px,$c:#000000,$lh:35px);
       @include size($w:90%,$h:'',$mw:1030px,$mh:'');
       @include  media ($d:900px,$fs:22px);
       @include  media ($d:530px,$fs:18px);
       background: rgba(247, 245, 245, 0.6);
       .line{
         border-top: 1px solid black;
         margin-bottom: 10px;
         margin-top: 20px;
         display: none; 
       }
       .l13{
          margin-bottom: -18px;
       }
       .icerik{
         white-space: pre-line;
         background: rgba(247, 245, 245, 0.6);
         display: none;
         @include mp($p:10px 24px 0px 24px);
         @include size($w:100%,$h:'',$mw:1030px);
         @include font($fw:400,$fm:'Montserrat',$fs:18px,$c:#000000,$lh:25px);
         @include  media ($d:775px,$fs:18px);
         @include  media ($d:530px,$fs:14px, $p:0px 15px 0px 24px);
       }
       .icerikl{
         padding-right: 24px;
         font-size: clamp(25px,2.4305vw,35px);
       }
       .i13{
        @include mp($p: 10px 24px 20px 24px);
       }
 
       .faqdivsin{
         
          @include displayflex($fd:row,$ai:center,$jc:space-between);
          @include size($w:100%);
          @include mp($p:0px 0px 0px 0px);
           border-bottom:1px solid black;
           span{
             z-index: 5;
            cursor:pointer;
           }
           
          .title{    
           @include mp($p:15px 24px 15px 24px);  
           @include media($d:500px, $lh: 26px)
 }
 }
     
    }
    
   
  }

  
  
}


