@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

 
.footer{
  @include size;
  background-color: #1B1B1B;
  position: absolute;
  .main{
    @include displayflex($ai:flex-start);
    color: #FFFFFF;
    @include media ($d:850px, $di:flex, $fd: column)
  }
  .child-one{
    @include size($w: 40%, $h: 395px);
    @include font($fs: clamp(18px,1.5272vw,22px), $fm: "Montserrat");
    @include displayflex($fd:column,$ai:space-between,$jc:center);
    @include mp($p: clamp(15px,3.4722vw,50px));
    border-right:1px solid #fff;
    @media screen and (max-width: 850px) {
      @include size($w: 100%, $h: auto);
      border-bottom: 1px solid #fff;
      border-right:0px solid #fff;
      }

    img{
      @include size($w:clamp( 180px,20.9027vw,301px));
      margin-bottom:50px;

    }
    .right{
      @include font($fs: 16px, $fm: "Montserrat",  $fw: 200);
      @include media($d: 850px, $di: none);
    }
   
  }
  .child-two{
    @include size($w: 20%);
    @include displayflex($fd:column,$ai:space-between,$jc:center);
    @include font($fs: clamp(18px,1.5272vw,22px), $fm: "Montserrat", $ta: left,  $lh: 35px, $fw:400);
       @include mp($p: clamp(15px,3.4722vw,50px));
     
        @media screen and (max-width: 850px) {
          @include size($w: 100%, $h: auto);
          border-left: none;
          border-right: none;
        }
    
    a{
    color:#fff;
    text-decoration:none
    }
    p{
    margin-bottom: 13px;
      @media screen and (max-width: 1000px) {
      margin-bottom: 10px;
      }
       @media screen and (max-width: 800px) {
          margin-bottom: 8px;
      }
      a{
        color:#fff;
        text-decoration:none;
       
      }
    }

    .facebook, .instagram, .linkedin {
      z-index: 5;

      &:hover{
        @include font($fs: clamp(18px,1.5272vw,22px), $fm: "Montserrat", $ta: left,  $lh: 35px, $fw:600);
      }
    }
  }
  .child-three{
    @include displayflex($fd:column,$ai:space-between,$jc:center);
    z-index: 5;
    @include size($w: 40%,$h: 395px);
    @include font($fs: clamp(18px,1.5272vw,22px), $fm: "Montserrat", $lh: 49px);
    @include mp($p: clamp(15px,3.4722vw,50px));
    border-left:1px solid #fff;
    a{
      color:#fff;
      text-decoration:none
      }
    p{
      margin: 0px;
      a{
      color:#fff;
      text-decoration:none
      }

    }
    
    @media screen and (max-width: 850px) {
      border-left: 0px; 
      border-right:0px; 
      border-top:1px solid white;  
      padding-bottom: 15px;
       @include size($w: 100%, $h: auto);  
      }
    .home-hov, .layiheler, .faq-hover{
      &:hover{
        @include font($fs: clamp(18px,1.5272vw,22px), $fm: "Montserrat", $ta: left,  $lh: 49px, $fw:600); 
      }
    }
    .two-two{
      @include displayflex($jc: space-between);
      .up{
        @include font($fs: clamp(16px,1.25vw,18px), $fm: "Montserrat", $ta: left, $c: #FFFFFF);

        text-decoration: none;
        &:hover{
          @include font($fs: clamp(16px,1.25vw,18px), $fm: "Montserrat", $ta: left, $fw:600);  
        }
      }
    }
    .search-icon{
      @include mp($m: 50px 0px 0px 0px);

      position: relative; 
      .fa-search1{
       z-index:2000;
       cursor:pointer;
       position: absolute;
       right:20px;
       top:4px;
       @media screen and (max-width: 850px) {
        @include mp($m: 0px 0px 0px 0px);
      }

       img{
         @include mp($m: -10px 0px 0px 0px);
        width: 30px;
        height: 30px;
        filter:invert(100%);
       @media screen and (max-width: 850px) {     
          width: 20px;
          height: 20px;
      }

       }
      }
      input{
        @include size($h: 48px);
        @include font($fs: 22px, $fm: "Montserrat", $ta: left, $c: #FFFFFF);
        @include mp($p: 20px 55px 20px 10px, $m: 0px 0px 0px 0px);
        background: #1B1B1B;
        border: 1px solid #FFFFFF;
        position: absolute; 
        border-radius: 0px;
        outline: none;
        @include brauzer($br: 0px);
        
      }
    }
    .end1{
      @include font($fs: 16px, $fm: "Montserrat", $ta: right, $c: #FFFFFF,  $fw: 200);
      @include mp($m: 100px 0px 0px 0px);  
      line-height: 30px;
      @media screen and (max-width: 600px) {
         text-align: left;
         margin-top: 80px;
         } 
    }
    .right1{
        @include font($fs: 16px, $fm: "Montserrat",  $fw: 200);
        display: none;
        margin-top: -33px;
        @include media($d: 850px, $di: block);
        @media screen and (max-width: 600px) {
         text-align: left;
         margin-top: 3px;
         } 

      }
  }
}
