@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.Section1{ 
  @include size;
  height: calc(540.72px + 8vw); 
  .gif{
    background-color: transparent; 
    .image1 {
      position: relative;
      @include size;
      height: calc(430.72px + 8vw);
      mix-blend-mode: difference;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
      opacity: 0.8;
  
    } 
  }
  .write{
    position:absolute;
    margin-top:120px;
    z-index:1;
    @include  displayflex($fd:column,$ai:center,$jc:center);
    @include size($w:100%);
    span{
      z-index: 2;
      @include font($fw:600, $fm:'Montserrat', $fs:clamp(20px,2.4305vw,35px), $c:#000, $ta:center);
      @include size($w:90.77%,$mw:1056px); 
    }
/* -----------2.qaynaq fill----------- */
.buttonfx {
  -moz-border-radius: 0px!important;
  -webkit-border-radius: 0px!important;
  -ms-border-radius: 0px!important;
  -o-border-radius: 0px!important;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  z-index:10;
  width: 230px!important;
  height: 50px;
  padding: auto 0px;
  color: #fff; /* button text color */
  outline: none;
  background: transparent;
  border: 0;
  margin-top: clamp(60px, 4.8611vw, 70px);
  @include font($fw:600,$fm:'Montserrat',$fs:clamp(20px,1.5277vw,22px),$c:#000,$ta:center);
  @include displayflex;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  text-decoration: none;
  @media screen and (max-width:700px) { 
    width: 200px!important;
    height: 40px;
    padding: 0px 17px;
    font-size: 16px;

  } 
  &:hover{
    background: #333; /* onhover background color */
  }
}
/* //// Default effect: Slide from Top  //// */
.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #333; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}
.buttonfx:before {
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}
.buttonfx:hover {
  color: white;
}
.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}
/* //// Curtain Up  //// */
.curtainup {
  border: 1px solid #333;
  transform-style: preserve-3d;
  width: auto;
}
.curtainup:before,
.curtainup:after {
  transform-origin: center center;
  transform: scale(1, 0);
  width: 101%;
}
.curtainup:hover:before,
.curtainup:hover:after {
  transform: scale(1);
  border-radius: 0;
}
  } 
}


