@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.Section4{
  @include displayflex;
  @include size;
  margin:clamp(10px,20.9809vw,100px) 0px clamp(10px,20.9809vw,100px) 0px;
  @include media($d:600px, $m: 70px 0px);
  .div1{
    padding:clamp(15px,3.125vw,45px) clamp(15px,4.5138vw,65px);
    @include size($w:90%,$h:auto,$mw:730px);
    background: #222222;
    @include displayflex($fd:column,$ai:flex-end,$jc:flex-start);
   span{
     @include font($fw:500,$fm:'Montserrat',$fs:clamp(20px,2.7777vw,40px),$c:#fff,$ta:left);
     @include size($w:100%,$mw:730px);
  }
  .form-action{
    width: 100%;

  input{
    margin-top:clamp(10px,2.0746vw,30px);
    padding:0px 15px;
    background: #F0F0F0;
    border:none;
    border-radius: 0px;
    outline:none;
    z-index:4;
    @include size($w:100%,$h:clamp(35px,3.8194vw,55px),$mw:730px);
    @include font($fw:500,$fm:'Montserrat',$fs:clamp(16px,1.5972vw,23px),$c:#565656,$ta:left);

  }





/* -----------2.qaynaq fill----------- */
 
.buttonfx {
  width: 230px!important;
  height: 50px;
  // padding: 0px 48px;
  color: #fff; /* button text color */
  outline: none;
  background: #fff;
  border: none;
  float:right;
  margin-top: clamp(15px, 2.08333vw, 30px);
  @include font($fw:600,$fm:'Montserrat',$fs:clamp(14px,1.5277vw,20px),$c:#000,$ta:center);
  line-height: 2;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all 0.5s;
  @media screen and (max-width:700px) { 
    width: 200px!important;
    height: 35px;
    padding: 0px 17px;
  }
   &:hover{
    background: #333; /* onhover background color */
  }
  
}

/* //// Default effect: Slide from Top  //// */

.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #333; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

/* //// Curtain Up  //// */

.curtainup {
  border: 1px solid #333;
  transform-style: preserve-3d;
  width: auto;
}

.curtainup:before,
.curtainup:after {
  transform-origin: center center;
  transform: scale(1, 0);
  width: 101%;
}

.curtainup:hover:before,
.curtainup:hover:after {
  transform: scale(1);
  border-radius: 0;
}
}

}
}


//wtdsdsd