@import "../formul";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Section2{ 
 @include size($h:auto,$w:100vw);
 @include mp($m: clamp(20px,6.9444vw,100px) 0px 0px 0);
 @include displayflex;
 overflow: hidden;
 @media screen and (max-width:500px) {      
    @include mp($m: 0px 0px 0px 0);      
  } 

.divs1{
   z-index:10;
   @include size($w:100%,$h:auto);
   @include displayflex;
   @include media ($d:1290px,$w:70%,$m:120px 0 0 0,$fw:wrap);
   @include media ($d:970px,$w:100%,$fw:wrap);
   @include media ($d:698px,$h:auto, $m:40px 0 0 0);

 
   .div1{
      position: relative;
      z-index:10;
      margin-top:20px;
      background: rgba(247, 245, 245, 0.6);
      transition:all 0.5s ease-in;  
       @include displayflex($fd:column,$ai:center,$jc:center);
       @include size($w:295px,$h:290px);    
       @include media ($d:698px,$w:60%,$m:20px 0px 0px 0px);
       @include media ($d:500px,$w:70%,$m:20px 0px 0px 0px); 
       padding:0px 20px;
       margin-right:20px;    
      img{
        @include size($w:112px,$h:112px);
        object-fit: cover;   

      }
      .title{
        @include font($fw:500,$fm:'Montserrat',$fs:34px,$c:#000);
        @include media ($d:698px,$fs:28px);
      }
      .content{
         @include font($fw:400,$fm:'Montserrat',$fs:20px,$c:#000,$ta:center);
         position: absolute;
         padding:0px 20px;
      }
      .d1,.d2,.d3,.d4{
         opacity: 0;
      }
   }
  } 
}
 
